*{
margin: 7px;
padding: 3px;
}

td, th, thead, tbody {
border: 1px solid;
}

table {
    border-spacing: 0px;
}

input, label {
display: block;
}
.inline {
display: inline-block;}

.header {
position: fixed;
background: white;
width: 100%;
top: -8px;
z-index: 10000;
}

thead {
position: sticky;
background: white;
width: 100%;
top: 337px;
}

thead.main {
top: 255px;
}

.under-header {
margin-top: 315px;
}

.under-header-main {
margin-top: 232px;
}

checkbox {
display: none;
}