*{
margin: 7px;
padding: 3px;
}

td, th, thead, tbody {
border: 1px solid;
}

table {
    border-spacing: 0px;
}

input, label {
display: block;
}
.inline {
display: inline-block;}

.header {
position: fixed;
background: white;
width: 100%;
top: -8px;
}

thead {
position: sticky;
background: white;
width: 100%;
top: 236px;
}

.under-header {
margin-top: 213px;
}