*{
margin: 7px;
padding: 3px;
}

body, label{
margin: 0px;
padding: 0px;
}

td, th, thead, tbody {
border: 1px solid;
}

table {
    border-spacing: 0px;
}

input, label {
display: block;
}
.inline {
display: inline-block;}

.header {
position: fixed;
background: white;
width: 100%;
margin: 0px;
padding: 10px;
z-index: 10000;
min-width: 1600px;
top: 0px;
left: 0px;
}

thead {
position: sticky;
background: white;
width: 100%;
top: 353px;
}

thead.main {
top: 257px;
}

.under-header {
margin-top: 343px;
}

.under-header-main {
margin-top: 243px;
}

input[type="checkbox"] {
margin-right: 0px;
margin-left: 14px;
}