<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление Клиента</title>
  <link href="main.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
<h2 class="inline">Добавление клиента</h2><th:block th:insert="userBlock.html :: user_block"></th:block>
<form method="get" action="client" th:action="${session.path == '/new_client' ? 'client' : session.path == '/edit_client' ?
 'client_info' : ''}">
  <input type="submit" value="<- Назад">
</form>
<form th:if="${session.path == '/edit_client'}" method="post" action="delete_client" class="inline">
    <input type="hidden" name="id" th:value="${session.client.id}">
    <input type="submit" value="Удалить пользователя">
</form>
<form method="post" action="add_client">
    <input type="hidden" name="client_id" th:value="${session.client != null ? session.client.id : '0'}">
    <label for="client_name">ФИО</label>
    <input type="text" id="client_name" name="client_name" th:value="${session.client != null ? session.client.pib : ''}" required>
    <label for="client_phone">Телефон</label>
    <input type="tel" id="client_phone" name="client_phone" th:value="${session.client != null ? session.client.phone : ''}">
    <label for="client_telegram">Телеграм</label>
    <input type="text" id="client_telegram" name="client_telegram" th:value="${session.client != null ? session.client.telegram : ''}">
    <input type="submit" value="Сохранить">
</form>
</body>
</html>