<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление валюты</title>
    <link href="main.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
<h2 class="inline">Добавление валюты</h2>
<th:block th:insert="~{userBlock.html :: user_block}"></th:block>
<form action="client" method="get">
    <input type="submit" value="<- Назад">
</form>
<form action="new_currency" method="post">
    <label for="currency_name">Название</label>
    <input id="currency_name" maxlength="3" minlength="3" name="currency_name" required type="text">
    <label for="currency_id">Код</label>
    <input id="currency_id" maxlength="3" minlength="3" name="currency_id" required type="number">
    <input type="submit" value="Сохранить">
</form>
</body>
</html>