<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление валюты</title>
  <link href="main.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
<h2 class="inline">Добавление валюты</h2><th:block th:insert="userBlock.html :: user_block"></th:block>
<form method="get" action="client">
  <input type="submit" value="<- Назад">
</form>
<form method="post" action="new_currency">
  <label for="currency_name">Название</label>
  <input type="text" id="currency_name" name="currency_name" minlength="3" maxlength="3" required>
  <label for="currency_id">Код</label>
  <input type="number" id="currency_id" name="currency_id" minlength="3" maxlength="3" required>
  <input type="submit" value="Сохранить">
</form>
</body>
</html>