<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление Клиента</title>
    <link href="main.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
<h2 class="inline">Добавление клиента</h2>
<th:block th:insert="~{userBlock.html :: user_block}"></th:block>
<form action="client" method="get" th:action="${session.path == '/new_client' ? 'client' : session.path == '/edit_client' ?
 'client_info' : ''}">
    <input type="submit" value="<- Назад">
</form>
<form action="delete_client" class="inline" method="post" th:if="${session.path == '/edit_client'}">
    <input name="id" th:value="${session.client.id}" type="hidden">
    <input type="submit" value="Удалить пользователя">
</form>
<form action="add_client" method="post">
    <input name="client_id" th:value="${session.client != null ? session.client.id : '0'}" type="hidden">
    <label for="client_name">ФИО</label>
    <input id="client_name" name="client_name" required
           th:value="${session.client != null ? session.client.pib : ''}" type="text">
    <label for="client_phone">Телефон</label>
    <input id="client_phone" name="client_phone" th:value="${session.client != null ? session.client.phone : ''}"
           type="tel">
    <label for="client_telegram">Телеграм</label>
    <input id="client_telegram" name="client_telegram" th:value="${session.client != null ? session.client.telegram : ''}"
           type="text">
    <input type="submit" value="Сохранить">
</form>
</body>
</html>