<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница клиента</title>
    <link href="main.css" rel="stylesheet">

</head>
<body>
<div id="header" style="position: sticky;left: 0px;width: 100vw;background: white;top: 0px;margin: 0px;z-index: 10000;">
<h2 class="inline" th:text="|Клиент: ${session.client.pib}|"></h2>
    <form method="get" action="client_info" class="inline">
        <input type="text" list="client_datalist" id="client_name" name="client_name" placeholder="Поиск.." class="inline" autocomplete="off">
        <datalist id="client_datalist">
            <option th:each="client : ${session.clients}" th:value="${client.pib}"></option>
        </datalist>
        <input type="submit" value="Перейти" class="inline">
    </form>

    <th:block th:insert="userBlock.html :: user_block"></th:block>
    <p style="color: red;" th:if="${session.client_alert != null}" th:text="${session.client_alert}"></p>
    <div>
<form method="get" action="client" class="inline">
    <input type="submit" value="<- Назад">
</form>
        <form method="get" action="convertation" class="inline">
            <input type="submit" value="Обмен валют">
        </form>
        <form method="post" action="download/client_info" class="inline">
            <input type="submit" value="Скачать таблицу">
        </form>
        <form method="get" action="edit_client" class="inline">
            <input type="hidden" name="client_id" th:value="${session.client.id}">
            <input type="submit" value="Изменить данные пользователя">
        </form>

    </div>
<div>
<form method="get" action="client_info" class="inline">
    <input type="date" name="startDate" th:value="${#dates.format(session[startDate__${session.client.id}__], 'yyyy-MM-dd')}" class="inline">
    <input type="date" name="endDate" th:value="${#dates.format(session[endDate1__${session.client.id}__], 'yyyy-MM-dd')}" class="inline">
    <th:block th:each="currency : ${session.currencies}" th:if="${currency.name != 'RUB'}">
    <input type="checkbox" th:id="|currency_id${currency.id}|" name="currency_id" th:value="${currency.id}" th:checked="${#lists.contains(session.currency_name, currency.name)}" class="inline">
    <label th:for="|currency_id${currency.id}|" class="inline" th:text="${currency.name}"></label>
    </th:block>
    <input type="submit" value="Найти" class="inline">
</form>
    <form id="color" class="inline">
        <input type="radio" name="color" id="white" value="color: rgb(255,255,255);" class="inline check-with-label">
        <label for="white" class="inline sphere white label-for-check"></label>
        <input type="radio" name="color" id="red" value="color: rgb(255,0,0);" class="inline check-with-label">
        <label for="red" class="inline sphere red label-for-check"></label>
        <input type="radio" name="color" id="yellow" value="color: rgb(255,255,0);" class="inline check-with-label">
        <label for="yellow" class="inline sphere yellow label-for-check"></label>
        <input type="radio" name="color" id="blue" value="color: rgb(0,0,255);" class="inline check-with-label">
        <label for="blue" class="inline sphere blue label-for-check"></label>
        <input type="radio" name="color" id="orange" value="color: rgb(255,165,0);" class="inline check-with-label">
        <label for="orange" class="inline sphere orange label-for-check"></label>
        <input type="radio" name="color" id="green" value="color: rgb(0,128,0);" class="inline check-with-label">
        <label for="green" class="inline sphere green label-for-check"></label>
        <input type="radio" name="color" id="violet" value="color: rgb(238,130,238);" class="inline check-with-label">
        <label for="violet" class="inline sphere violet label-for-check"></label>
        <input type="radio" name="color" id="black" value="color: rgb(0,0,0);" class="inline check-with-label">
        <label for="black" class="inline sphere black label-for-check"></label>
        <input type="radio" name="color" id="none" class="inline check-with-label" checked>
        <label for="none" class="inline sphere none label-for-check"></label>
        <input type="radio" name="color" id="bold" value="font-weight: bold;" class="inline check-with-label">
        <label for="bold" class="inline bold sphere label-for-check">B</label>
        <input type="radio" name="color" id="nobold" value="" class="inline check-with-label">
        <label for="nobold" class="inline bold sphere none label-for-check">B</label>
        <input type="radio" name="color" id="italic" value="font-style: italic;" class="inline check-with-label">
        <label for="italic" class="inline italic sphere  label-for-check">i</label>
        <input type="radio" name="color" id="noitalic" value="" class="inline check-with-label">
        <label for="noitalic" class="inline italic sphere none label-for-check">i</label>
    </form>
    <button onclick="capture()" class="inline">Скриншот</button>
</div>
</div>
<input type="hidden" class="exchange" th:each="currency : ${session.currencies}" th:name="${currency.name}" th:value="${currency.averageExchange}">
<div class="currencies">
    <div th:each="currency : ${session.currencies}" th:if="${#lists.contains(session.currency_name, currency.name) && currency.name != 'RUB'}" class="inline">
        <input type="hidden" name="pointer" id="pointer" th:form="|form${currency.id}|">
        <div name="thead" style="background-color: white; position: sticky;">
        <h3 th:text="${currency.name}" class="inline">HRN</h3>
        <h3 class="inline" th:text="|Баланс на начало ${#dates.format(session[startDate__${session.client.id}__], 'dd-MM-yyyy')}: ${#numbers.formatInteger(session.total['amount' + currency.id], 1, 'WHITESPACE')}|"></h3>
        <h3 class="inline" th:text="|Баланс в конце ${#dates.format(session[endDate__${session.client.id}__], 'dd-MM-yyyy')}: ${#numbers.formatInteger(session.total['balance' + currency.id], 1, 'WHITESPACE')}|"></h3>
        <input type="hidden" class="exchange" th:name="${currency.name}" th:value="${currency.averageExchange}">
        </div>
        <table th:style="${currency.name == 'RUB' ? 'background-color: mistyrose;' : currency.name == 'USD' ? 'background-color: honeydew;' : currency.name == 'EUR' ? 'background-color: lavender;' : currency.name == 'PLN' ? 'background-color: lightcyan;' : currency.name == 'UAH' ? 'background-color: white;' : ''}">
            <thead name="thead2" style="background-color: inherit; position: sticky;">
            <tr>
                <th class="ignore">Редактир.</th>
                <th>Дата</th>
                <th>Контрагенты</th>
                <th>Комментарий</th>
                <th>Прием</th>
                <th>Выдача</th>
                <th>Тариф</th>
                <th>Комиссия</th>
                <th>Курс</th>
                <th>Инкас.</th>
                <th>Итого</th>
                <th th:if="${session.user.role.name == 'Admin'}">Менеджер</th>
            </tr>
            </thead>
            <tbody th:id="${currency.name}">
            <th:block th:each="id : ${session.transactionIds[currency.id]}">
                <form method="post" action="edit_transaction" th:id="${id}">
                    <input type="hidden" name="pointer" th:id="|pointer${id}|">
                </form>
                <form method="post" action="delete_transaction" th:id="|del${id}|">
                    <input type="hidden" name="transaction_id" th:value="${id}">
                </form>

            <th:block th:each="transaction, iter : ${session.transactions}" th:if="${transaction.id == id && transaction.currency.id == currency.id}">

                <input th:form="${id}" th:if="${transaction.client.id == session.client.id}" type="hidden" name="client_name" th:value="${session.client.pib}">
                <input th:form="${id}" type="hidden" name="currency_name" th:value="${currency.name}">
                <tr th:style="|${transaction.client.id == session.client.id && transaction.currency.id == currency.id ? '' : 'display:none;'}|" th:id="|${currency.id}${iter.index}|" th:name="|${currency.id}${transaction.id}|">
                    <input type="hidden" th:value="${transaction.date}" name="dateh">
                <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}">
                        <input th:form="${id}" type="hidden" name="transaction_id" th:value="${transaction.id}">
                        <input th:form="${id}" type="submit" value="Сохранить" th:if="${transaction.client.id == session.client.id && transaction.currency.id == currency.id}">
                        <input th:form="|del${id}|" type="submit" value="Удалить" th:if="${transaction.client.id == session.client.id && transaction.currency.id == currency.id}">
                        <input th:form="${id}" type="submit" value="Удалить строку" th:if="${transaction.client.id != session.client.id || transaction.currency.id != currency.id}" th:onclick="|deleteRow(${currency.id}${iter.index})|">
                    </th>
                    <th th:text="${transaction.client.id == session.client.id && transaction.currency.id == currency.id ? #dates.format(transaction.date, 'dd-MM-yyyy') : ''}" th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}"></th>
                    <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}">
                        <input th:form="${id}" th:if="${transaction.client.id == session.client.id && transaction.currency.id == currency.id}" type="button" value="Показать" th:onclick="|showAgents(${currency.id}${transaction.id})|" th:id="|${currency.id}${transaction.id}|">
                        <input th:if="${transaction.client.id == session.client.id && transaction.currency.id == currency.id}" type="button" value="Добавить" th:data-1="${currency.name}" th:data-2="|${currency.id}${iter.index}|" th:data-3="${id}" th:data-4="${transaction.date}" th:onclick="addRowInside(this.getAttribute('data-2'), this.getAttribute('data-1'), this.getAttribute('data-3'), this.getAttribute('data-4'))">
                        <input th:form="${id}" th:if="${transaction.client.id != session.client.id || transaction.currency.id != currency.id}" type="text" th:value="${transaction.client.pib}" name="client_name" list="client_datalist" autocomplete="off" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_client|">
                    </th>
                    <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_comment')|">
                        <input th:style="|${transaction.commentColor != null ? transaction.commentColor : ''}|" th:form="${id}" type="text" th:value="${transaction.comment}" name="comment" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_comment|">
                    </th>
                <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_pAmount')|">
                    <input th:style="|${transaction.inputColor != null ? transaction.inputColor : ''}|" th:form="${id}" type="text" th:if="${transaction.amount > 0}" th:value="${#numbers.formatInteger(transaction.amount, 1,'WHITESPACE')}" name="positiveAmount" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_pAmount|" th:data-id="|${transaction.id}_${currency.id}_${transaction.client.id}|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))" autocomplete="off">
                    <input th:style="|${transaction.inputColor != null ? transaction.inputColor : ''}|" th:form="${id}" type="text" th:if="${transaction.amount <= 0}" name="positiveAmount" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_pAmount|" th:data-id="|${transaction.id}_${currency.id}_${transaction.client.id}|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))" autocomplete="off">
                </th>
                <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_nAmount')|">
                <input th:style="|${transaction.outputColor != null ? transaction.outputColor : ''}|" th:form="${id}" type="text" th:if="${transaction.amount < 0}" th:value="${#numbers.formatInteger(transaction.amount, 1,'WHITESPACE')}" name="negativeAmount" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_nAmount|" th:data-id="|${transaction.id}_${currency.id}_${transaction.client.id}|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))" autocomplete="off">
                    <input th:style="|${transaction.outputColor != null ? transaction.outputColor : ''}|" th:form="${id}" type="text" th:if="${transaction.amount >= 0}" name="negativeAmount"  th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_nAmount|" th:data-id="|${transaction.id}_${currency.id}_${transaction.client.id}|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))" autocomplete="off">
                </th>
                <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_commission')|">
                    <input class="commission" th:style="|${transaction.tarifColor != null ? transaction.tarifColor : ''}|" th:form="${id}" type="text" th:value="${transaction.commission != 0 ? transaction.commission : ''}" name="commission" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_commission|" th:data-id="|${transaction.id}_${currency.id}_${transaction.client.id}|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))">
                </th>
                <th th:style="|${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''} ${transaction.commissionColor != null ? transaction.commissionColor : ''}|" th:text="${#numbers.formatInteger(transaction.commission * transaction.amount / 100, 1,'WHITESPACE')}" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_com|" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_com')|">

                </th>
                <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_rate')|">
                    <input class="rate" th:style="|${transaction.rateColor != null ? transaction.rateColor : ''};|" th:form="${id}" type="text" th:value="${transaction.rate != 1 ? transaction.rate : ''}" name="rate" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_rate|">
                </th>
                <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_transportation')|">
                    <input class="transportation" th:style="|${transaction.transportationColor != null ? transaction.transportationColor : ''}|" th:form="${id}" type="text" name="transportation" th:value="${transaction.transportation != 0 ? #numbers.formatInteger(transaction.transportation, 1,'WHITESPACE') : ''}"  th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_transportation|" th:data-id="|${transaction.id}_${currency.id}_${transaction.client.id}|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))">
                </th>
                <th th:style="|${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''} ${transaction.amountColor};|" th:text="${#numbers.formatInteger(transaction.amount + transaction.commission * transaction.amount / 100 + transaction.transportation, 1,'WHITESPACE')}" th:id="|${transaction.id}_${currency.id}_${transaction.client.id}_total|" th:onclick="|changeColor('${transaction.id}_${currency.id}_${transaction.client.id}_total')|"></th>
                    <th th:style="${transaction.client.id != session.client.id || transaction.currency.id != currency.id ? 'border-top: none;' : ''}" th:if="${session.user.role.name == 'Admin'}" th:text="${transaction.user.login}"></th>
            </th:block>
                </tr>
            </th:block>
            <form method="post" action="transaction" th:id="|form${currency.id}|">

                <input type="hidden" name="currency_name" th:value="${currency.name}" th:form="|form${currency.id}|">
                <input type="hidden" name="client_name" th:value="${session.client.pib}" th:form="|form${currency.id}|">
            <tr th:id="|${currency.name}tr0|" th:name="|${currency.name}form${currency.id}|">
                    <th>
                        <input class="inline" type="submit" value="Сохранить" th:form="|form${currency.id}|">
                    </th>
                <th>
                    <input class="date" type="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" name="date" th:form="|form${currency.id}|">
                </th>
                    <th>
                        <input type="button" value="Добавить" th:data-id="|${currency.name}|" th:data-form="|${currency.id}|" th:onclick="addRow(this.getAttribute('data-id'), this.getAttribute('data-form'))">
                    </th>
                    <th>
                        <input type="text" name="comment" th:form="|form${currency.id}|" th:id="|${currency.name}tr0_comment|">
                    </th>
                <th>
                    <input type="text" name="positiveAmount" th:form="|form${currency.id}|" th:id="|${currency.name}tr0_pAmount|" th:data-id="|${currency.name}tr0|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))" autocomplete="off">
                </th>
                <th>
                    <input type="text" name="negativeAmount" th:form="|form${currency.id}|" th:id="|${currency.name}tr0_nAmount|" th:data-id="|${currency.name}tr0|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))" autocomplete="off">
                </th>
                <th>
                    <input class="commission" type="text" name="commission" th:form="|form${currency.id}|" th:id="|${currency.name}tr0_commission|" th:data-id="|${currency.name}tr0|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))">
                </th>
                    <th th:id="|${currency.name}tr0_com|"></th>

                    <th>
                        <input class="rate" type="text" name="rate" th:form="|form${currency.id}|" th:id="|${currency.name}tr0_rate|">
                    </th>
                <th>
                    <input class="transportation" type="text" name="transportation" th:form="|form${currency.id}|" th:id="|${currency.name}tr0_transportation|" th:data-id="|${currency.name}tr0|" th:onkeyup="changeAssociated(this.getAttribute('data-id'))">
                </th>
                <th th:id="|${currency.name}tr0_total|"></th>

            </tr>
            </form>
            </tbody>
        </table>
    </div>
</div>
<div style="width: 100%; height: 40px;"></div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="main.js"></script>
<script src="html2canvas.min.js"></script>
<script th:inline="javascript">
    console.log("script works");
    var target = document.getElementById(/*[[${session.pointer}]]*/);
    const end = target.value.length;
    console.log(end);
        target.setSelectionRange(end, end);

        if (target.parentElement.parentElement.id.substring(3, 6) != 'tr0') {
            showAgents(target.parentElement.parentElement.getAttribute('name'));
        }

        target.focus();
        currentRow = target.parentElement.parentElement.getAttribute("name");
</script>
</html>