<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Страница клиента</title>
    <link href="main.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
<div class="header">
<h2 th:text="${session.client.pib}"></h2>
    <div th:each="currency : ${session.currencies}" class="inline">
        <h3 th:text="${currency.name}">HRN</h3>
        <h3>Баланс в конце дня: <span th:text="${#numbers.formatDecimal(session.total['balance' + currency.id], 1, 'POINT', 2, 'COMMA')}"></span></h3>
        <h3>Сальдо за день: <span th:text="${#numbers.formatDecimal(session.total['amount' + currency.id], 1, 'POINT', 2, 'COMMA')}"></span></h3>
    </div>
    <div>
<form method="get" action="client" class="inline">
    <input type="submit" value="<- Назад">
</form>
        <form method="post" action="download/client_info" class="inline">
            <input type="submit" value="Скачать таблицу">
        </form>
<!--<form method="get" action="add_transaction" class="inline">
    <input type="submit" value="Новая транзакция">
</form>-->
        <form method="post" action="edit_client" class="inline">
            <input type="hidden" name="id" th:value="${session.client.id}">
            <input type="submit" value="Изменить данные пользователя">
        </form>
    <form method="post" action="delete_client" class="inline">
        <input type="hidden" name="id" th:value="${session.client.id}">
        <input type="submit" value="Удалить пользователя">
    </form>
    <!--<button onclick="confirmDel(1)" class="inline">Удалить пользователя</button>-->
    </div>
<div>
<form method="get" action="client_info" class="inline">
    <input type="date" name="date" th:value="${session.date}" class="inline">
    <th:block th:each="currency : ${session.currencies}">
    <input type="checkbox" th:id="|currency_id${currency.id}|" name="currency_id" th:value="${currency.id}" th:checked="${#lists.contains(session.currency_id, currency.id)}" class="inline">
    <label th:for="|currency_id${currency.id}|" class="inline" th:text="${currency.name}"></label>
    </th:block>
    <input type="submit" value="Найти" class="inline">
</form>
    <form id="color" class="inline">
        <input type="color">
    </form>
    <button onclick="saveColors()" class="inline">Сохранить расцветку</button>
</div>
</div>
<table class="under-header">
    <thead>
    <tr>
        <th>Редактировать</th>
        <th>Остальные участники</th>
        <th>Дата и время</th>
        <th>Валюта</th>
        <th>Баланс после транзакции</th>
        <th>Курс валюты</th>
        <th>Процент комиссии</th>
        <th>Количество</th>
        <th>Инкасация в гривнах</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${session.transactions}">
        <th>
            <form method="get" action="edit">
                <input type="hidden" name="transaction_id" th:value="${transaction.id}">
                <input type="submit" value="ред.">
            </form>
        </th>
        <th th:style="|color: ${transaction.pibColor}|" th:text="${transaction.client.pib}" th:onclick="|changeColor(pib_${transaction.id}_${session.client.id}_${transaction.currency.id})|" th:id="|pib_${transaction.id}_${session.client.id}_${transaction.currency.id}|"></th>
        <th th:text="${#dates.format(transaction.date, 'dd-MM-yyyy HH:mm')}" th:onclick="|changeColor(date_${transaction.id}_${session.client.id}_${transaction.currency.id})|" th:id="|date_${transaction.id}_${session.client.id}_${transaction.currency.id}|"></th>
        <th th:text="${transaction.currency.name}" th:onclick="|changeColor(currency_${transaction.id}_${session.client.id}_${transaction.currency.id})|" th:id="|currency_${transaction.id}_${session.client.id}_${transaction.currency.id}|"></th>
        <th th:style="|color: ${transaction.balanceColor}|" th:text="${#numbers.formatDecimal(transaction.balance, 1, 'POINT', 2, 'COMMA')}" th:onclick="|changeColor(balance_${transaction.id}_${session.client.id}_${transaction.currency.id})|" th:id="|balance_${transaction.id}_${session.client.id}_${transaction.currency.id}|"></th>
        <th th:text="${#numbers.formatDecimal(transaction.rate, 1, 'POINT', 2, 'COMMA')}" th:onclick="|changeColor(rate_${transaction.id}_${session.client.id}_${transaction.currency.id})|" th:id="|rate_${transaction.id}_${session.client.id}_${transaction.currency.id}|"></th>
        <th th:text="${#numbers.formatDecimal(transaction.commission, 1, 'POINT', 2, 'COMMA')}" th:onclick="|changeColor(commission_${transaction.id}_${session.client.id}_${transaction.currency.id})|" th:id="|commission_${transaction.id}_${session.client.id}_${transaction.currency.id}|"></th>
        <th th:style="|color: ${transaction.amountColor}|" th:text="${#numbers.formatDecimal(transaction.amount, 1, 'POINT', 2, 'COMMA')}" th:onclick="|changeColor(amount_${transaction.id}_${session.client.id}_${transaction.currency.id})|" th:id="|amount_${transaction.id}_${session.client.id}_${transaction.currency.id}|"></th>
        <th th:text="${#numbers.formatDecimal(transaction.transportation, 1, 'POINT', 2, 'COMMA')}" th:onclick="|changeColor(transportation_${transaction.id}_${session.client.id})|" th:id="|transportation_${transaction.id}_${session.client.id}|"></th>
    </tr>
    </tbody>
</table>

<form>
    <input type="button" onclick="add_form()" value="Добавить строку" />
</form>
<form method="post" action="transaction" id="form_id">
    <div id="divOut">
        <div style="min-width: 1550px;" id="divIn">
            <div class="inline">
                <label for="client_name">Клиент</label>
                <input type="text" list="client_datalist" id="client_name" name="client_name" th:value="${session.client != null ? session.client.pib : ''}" required>
                <datalist id="client_datalist">
                    <option th:each="client : ${session.clients}" th:value="${client.client.pib}"></option>
                </datalist>
            </div>
            <div class="inline">
                <label for="currency_id">Валюта</label>
                <input type="text" id="currency_id" name="currency_name" value="UAH" list="currency_datalist" required>
                <datalist id="currency_datalist">
                    <option th:each="currency : ${session.currencies}" th:value="${currency.name}"></option>
                </datalist>
            </div>
            <div class="inline">
                <label for="rate">Курс валюты</label>
                <input type="text" id="rate" name="rate" value="1" required>
            </div>
            <div class="inline">
                <label for="commission">Процент комиссии</label>
                <input type="text" id="commission" name="commission" value="0" required>
            </div>
            <div class="inline">
                <label for="transportation">Инкасация в гривнах</label>
                <input type="text" id="transportation" name="transportation" value="0" required>
            </div>
            <div class="inline">
                <label for="amount">Объем</label>
                <input type="text" id="amount" name="amount" onkeyup="sumInputs()" required>
            </div>
        </div>
    </div>
    <input type="submit" value="Сохранить">
    <p>Общая сумма: <span id="out"></span></p>
</form>
</body>
</html>