<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обмен валют</title>
    <link href="main.css" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
<h2 class="inline">Обмен валют</h2><th:block th:insert="userBlock.html :: user_block"></th:block>
<h3 th:text="|Клиент: ${session.client.pib}|"></h3>
<form method="get" action="client_info">
    <input type="submit" value="<- Назад">
</form>
<form method="post" action="/transaction">
    <input type="hidden" name="client_name" th:value="${session.client.pib}">
    <input type="hidden" name="client_name" th:value="${session.client.pib}">
    <input type="hidden" name="comment" value="Обмен валют">
    <input type="hidden" name="comment" value="Обмен валют">
    <input type="hidden" name="commission" value="0">
    <input type="hidden" name="transportation" value="0">
    <input type="hidden" name="commission" value="0">
    <input type="hidden" name="transportation" value="0">
    <input type="hidden" class="exchange" th:each="currency : ${session.currencies}" th:name="${currency.name}" th:value="${currency.averageExchange}">
    <div>
    <div class="inline">
        <label for="currency1">Валюта продаваемая</label>
        <input type="text" name="currency_name" id="currency1" onkeyup="convertDescription()" list="currency_datalist" required>
        <datalist id="currency_datalist">
            <option th:each="currency : ${session.currencies}" th:value="${currency.name}"></option>
        </datalist>
    </div>
    <div class="inline">
        <label for="amount">Колличество</label>
        <input type="text" name="amount" id="amount" onkeyup="convert()" required>
    </div>
    <div class="inline">
        <label for="rate1">Обменный курс</label>
        <input type="text" name="rate" id="rate1" onkeyup="convert()" value="1" required>
    </div>
        <!--<button class="inline" onclick="convertRate()" type="button">Обратить курс</button>-->
    </div>
    <div>
    <div class="inline">
        <label for="currency2">Валюта покупаемая</label>
        <input type="text" name="currency_name" id="currency2" onkeyup="convertDescription()" list="currency_datalist" required>
    </div>
    <div class="inline">
        <input type="hidden" name="amount" value="0" id="changeInput">
        <label for="changeDiv">Колличество</label>
        <input type="text" id="changeDiv" readonly>
    </div>
    </div>
    <input type="hidden" name="rate" value="1" id="rate2">
    <input type="submit">
</form>
</body>
</html>