<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование транзакции</title>
    <script src="main.js"></script>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<h2 class="inline">Редактирование транзакции</h2>
<th:block th:insert="~{userBlock.html :: user_block}"></th:block>
<form action="client_info" method="get">
    <input type="submit" value="<- Назад">
</form>
<form action="edit" method="post">
    <div style="min-width: 1550px;" th:each="transaction : ${session.transactions}">
        <div class="inline">
            <input name="transaction_id" th:value="${transaction.id}" type="hidden">
            <label th:for="|client_name${transaction.client.pib}|">Клиент</label>
            <input autocomplete="off" name="client_name" required
                   th:id="|client_name${transaction.client.pib}|" th:list="|client_datalist${transaction.client.pib}|" th:value="${transaction.client.pib}"
                   type="text">
            <datalist th:id="|client_datalist${transaction.client.pib}|">
                <option th:each="client : ${session.clients}" th:value="${client.client.pib}"></option>
            </datalist>
        </div>
        <div class="inline">
            <label th:for="|currency_id${transaction.client.pib}|">Валюта</label>
            <input autocomplete="off" name="currency_name" required
                   th:id="|currency1_id${transaction.client.pib}|" th:list="|currency_datalist${transaction.client.pib}|"
                   th:value="${transaction.currency.name}" type="text">
            <datalist th:id="|currency_datalist${transaction.client.pib}|">
                <option th:each="currency : ${session.currencies}" th:value="${currency.name}"></option>
            </datalist>
        </div>
        <div class="inline">
            <label th:for="|rate${transaction.client.pib}|">Обменный курс</label>
            <input name="rate" required th:id="|rate${transaction.client.pib}|" th:value="${transaction.rate}"
                   type="text">
        </div>
        <div class="inline">
            <label th:for="|commission${transaction.client.pib}|">Комиссия в процентах</label>
            <input name="commission" required th:id="|commission${transaction.client.pib}|"
                   th:value="${transaction.commission}" type="text">
        </div>
        <div class="inline">
            <label th:for="|transportation${transaction.client.pib}|">Инкасация в гривнах</label>
            <input name="transportation" required th:id="|transportation${transaction.client.pib}|"
                   th:value="${transaction.transportation}" type="text">
        </div>
        <div class="inline">
            <label th:for="|amount${transaction.client.pib}|">Объем</label>
            <input name="amount" onkeyup="sumInputs()" required th:id="|amount${transaction.client.pib}|"
                   th:value="${transaction.amount}" type="text">
        </div>
    </div>
    <input class="inline" type="submit" value="Сохранить">
</form>
<form action="delete_transaction" method="post">
    <input name="transaction_id" th:value="${session.transactions[0].id}" type="hidden">
    <input class="inline" type="submit" value="Удалить">
</form>
<p>Общая сумма: <span id="out"></span></p>

</body>
</html>