<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet">
    <script src="main.js"></script>
    <title>Обновление кэшированных значений</title>
</head>
<body>
<h3 class="inline">
    Страница пересчета значений
</h3>
<th:block th:insert="~{userBlock.html :: user_block}"></th:block>
<form action="client_info" method="get">
    <input type="submit" value="<- Назад">
</form>
<p>Данная страница позволяет произвести повторный расчет балансов по любому клиенту. Оставьте поле клиента пустым для
    выполнения пересчета для всех клиентов</p>
<form action="recashe" method="post">
    <label for="date">Дата начиная с которой данные будут обновлены</label>
    <input id="date" name="date" th:value="${session.client != null ? #dates.format(session[startDate__${session.client != null ? session.client.id : ''}__], 'yyyy-MM-dd')  : ''}" type="date">
    <label for="file">Имя клиента для которого необходимо выполнить пересчет</label>
    <input id="file" list="client_datalist" name="client" type="text" th:value="${session.client != null ? session.client.pib : ''}" onkeyup="autoinsert('file', 'client_datalist')">
    <datalist id="client_datalist">
        <option th:each="client : ${session.clients}" th:value="${client.pib}"></option>
    </datalist>
    <input type="submit" value="Подтвердить">
</form>
</body>
</html>