<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet">
    <title>Обновление кэшированных значений</title>
</head>
<body>
<h3 class="inline">
    Страница пересчета значений
</h3>
<th:block th:insert="userBlock.html :: user_block"></th:block>
<form method="get" action="client">
    <input type="submit" value="<- Назад">
</form>
<p>Данная страница позволяет произвести повторный расчет балансов по любому клиенту. Оставьте поле клиента пустым для выполнения пересчета для всех клиентов</p>
<form method="post" action="recashe">
    <label for="date">Дата начиная с которой данные будут обновлены</label>
    <input type="date" name="date" id="date" th:value="${#dates.format(session.date, 'yyyy-MM-dd')}">
    <label for="file">Имя клиента для которого необходимо выполнить пересчет</label>
    <input type="text" name="client" id="file" list="client_datalist">
    <datalist id="client_datalist">
        <option th:each="client : ${session.clients}" th:value="${client.pib}"></option>
    </datalist>
    <input type="submit" value="Подтвердить">
</form>
</body>
</html>