<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Перевод</title>
    <link href="main.css" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
<h2 class="inline">Перевод валют</h2>
<th:block th:insert="userBlock.html :: user_block"></th:block>
<h3 th:text="|Клиент: ${session.client.pib}|"></h3>
<form action="client_info" method="get">
    <input type="submit" value="<- Назад">
</form>
<form action="transaction" method="post">
    <input name="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" type="hidden">
    <input id="amount2" name="positiveAmount" type="hidden">
    <input id="currency2" name="currency_name" type="hidden">
    <input name="rate" type="hidden" value="1">
    <input name="rate" type="hidden" value="1">
    <input name="comment" type="hidden" value="Перевод">
    <input name="comment" type="hidden" value="Перевод">
    <div>
        <div class="inline">
            <label for="currency1">Валюта</label>
            <input autocomplete="off" id="currency1" list="currency_datalist" name="currency_name" onkeyup="transferCurrency()"
                   required type="text">
            <datalist id="currency_datalist">
                <option th:each="currency : ${session.currencies}" th:value="${currency.name}"></option>
            </datalist>
        </div>
        <div class="inline">
            <label for="amount1">Количество</label>
            <input id="amount1" name="positiveAmount" onkeyup="transfer()" required type="text">
        </div>
    </div>
    <div>
        <div class="inline">
            <label for="client1">Клиент отправляющий</label>
            <input id="client1" name="client_name" readonly th:value="${session.client.pib}" type="text">

        </div>
        <div class="inline">
            <label for="commission1">Комиссия</label>
            <input id="commission1" name="commission" required type="text" value="0">
        </div>
        <div class="inline">
            <label for="transportation1">Инкасация</label>
            <input id="transportation1" name="transportation" required type="text" value="0">
        </div>
    </div>
    <div>
        <div class="inline">
            <label for="client2">Клиент получающий</label>
            <input autocomplete="off" id="client2" list="client_datalist" name="client_name" required type="text">
            <datalist id="client_datalist">
                <option th:each="client : ${session.clients}" th:if="${client.pib != 'Всего'}"
                        th:value="${client.pib}"></option>
            </datalist>
        </div>
        <div class="inline">
            <label for="commission2">Комиссия</label>
            <input id="commission2" name="commission" required type="text" value="0">
        </div>
        <div class="inline">
            <label for="transportation2">Инкасация</label>
            <input id="transportation2" name="transportation" required type="text" value="0">
        </div>
    </div>
    <input name="negativeAmount" type="hidden" value="0">
    <input name="negativeAmount" type="hidden" value="0">
    <input type="submit">
</form>
</body>
</html>