<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link href="main.css" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
<h2 class="inline">Администрирование пользователей</h2>
<th:block th:insert="~{userBlock.html :: user_block}"></th:block>
<form action="client" method="get">
    <input type="submit" value="<- Назад">
</form>
<form action="database" method="get">
    <input type="submit" value="Создать бэкап">
</form>
<form action="database" method="post">
    <input type="submit" value="Восстановить из бэкапа">
</form>
<form action="excel" class="inline" method="get">
    <input type="submit" value="Загрузить таблицу">
</form>
<h3>Создать нового пользователя</h3>
<form action="create_user" method="post">
    <label for="login">Логин</label>
    <input id="login" minlength="3" name="login" required type="text">
    <input type="submit" value="Новый пользователь">
</form>
<h3>Список пользователей</h3>
<table>
    <tr>
        <th>Логин</th>
        <th>Пароль</th>
        <th>История</th>
        <th>Сброс пароля</th>
        <th>Удаление пользователя</th>
        <th>Сеансы</th>
    </tr>
    <tr th:each="user : ${session.users}">
        <th th:text="${user.login}"></th>
        <th>
            <span th:if="${user.password == 'd17f25ecfbcc7857f7bebea469308be0b2580943e96d13a3ad98a13675c4bfc2'}">
                11111
            </span>
        </th>
        <th>
            <form action="manager_history" method="get">
                <input name="manager_id" th:value="${user.id}" type="hidden">
                <input type="submit" value="Посмотреть">
            </form>
        </th>
        <th>
            <form action="restore_pass" method="post">
                <input name="id" th:value="${user.id}" type="hidden">
                <input type="submit" value="Сброс">
            </form>
        </th>
        <th>
            <form action="delete_user" method="post" th:if="${user.role.name != 'Admin'}">
                <input name="id" th:value="${user.id}" type="hidden">
                <input type="submit" value="Удалить">
            </form>
        </th>
        <th th:text="${session.active.get(user)}"></th>
    </tr>
</table>

</body>
</html>