<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link href="main.css" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
<div class="header" style="position: sticky;left: 0px;width: 100vw;background: white;top: 0px;margin: 0px;z-index: 10000;">
<h2 class="inline">Администрирование пользователей</h2>
<th:block th:insert="~{userBlock.html :: user_block}"></th:block>
</div>
<form action="client" method="get">
    <input type="submit" value="<- Назад">
</form>
<form action="database" method="get">
    <input type="submit" value="Создать бэкап">
</form>
<form action="database" method="post">
    <input type="submit" value="Восстановить из бэкапа">
</form>
<form action="excel" class="inline" method="get">
    <input type="submit" value="Загрузить таблицу">
</form>
<h3>Создать нового пользователя</h3>
<form action="create_user" method="post">
    <label for="login">Логин</label>
    <input id="login" minlength="3" name="login" required type="text">
    <select name="role" th:style="${session.user.role.name != 'Superadmin' ? 'display: none;' : ''}">
        <option value="Admin">Admin</option>
        <option value="Manager" selected>Manager</option>
    </select>
    <input type="submit" value="Новый пользователь">
</form>
<h3>Список пользователей</h3>
<table>
    <tr>
        <th>История</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Роль</th>
        <th>Сеансы</th>
        <th>Сброс пароля</th>
        <th>Удаление пользователя</th>

    </tr>
    <tr th:each="user : ${session.users}">
        <th>
            <form action="manager_history" method="get">
                <input name="manager_id" th:value="${user.id}" type="hidden">
                <input type="submit" value="Посмотреть">
            </form>
        </th>
        <th th:text="${user.login}"></th>

        <th>
            <span th:if="${user.password == 'd17f25ecfbcc7857f7bebea469308be0b2580943e96d13a3ad98a13675c4bfc2'}">
                11111
            </span>
        </th>
        <th th:text="${user.role.name}" th:if="${session.user.role.name != 'Superadmin' || user.role.name == 'Superadmin'}" ></th>
        <th th:if="${session.user.role.name == 'Superadmin' && user.role.name != 'Superadmin'}">
            <form method="post" action="change_role">
                <input type="hidden" name="id" th:value="${user.id}">
                <select name="role" onchange="submit()">
                    <option value="Admin" th:selected="${user.role.name == 'Admin'}">Admin</option>
                    <option value="Manager" th:selected="${user.role.name == 'Manager'}">Manager</option>
                </select>
            </form>
        </th>
        <th th:text="${session.active.get(user)}"></th>
        <th>
            <form action="restore_pass" method="post" th:if="${user.role.name != 'Superadmin' || session.user.role.name == 'Superadmin'}">
                <input name="id" th:value="${user.id}" type="hidden">
                <input type="submit" value="Сброс">
            </form>
        </th>
        <th>
            <form action="delete_user" method="post" th:if="${(session.user.role.name == 'Superadmin' && user.role.name != 'Superadmin') || (session.user.role.name == 'Admin' && user.role.name != 'Admin' && user.role.name != 'Superadmin')}">
                <input name="id" th:value="${user.id}" type="hidden">
                <input type="submit" value="Удалить">
            </form>
        </th>

    </tr>
</table>

</body>
</html>