<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div class="col" style="float: right; margin-right: 25px; width: min-content;" th:fragment="user_block">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div style="width: max-content;">
        <input class="inline check-with-label" id="connection" type="radio">
        <label class="inline sphere2 lime label-for-check" for="connection" id="connectionLabel"></label>
        <p class="inline" th:text="${session.user.role.name}"></p>
        <h4 class="inline" th:text="${session.user.login}"></h4>
        <button class="inline" type="button" value="Заблокировать" onclick="lock()" id="lockBut">
            <img src="/images/unlock.png" class="inline" height="12px" title="Заблокировать ввод" id="lockImg">
        </button>
        <form action="users" class="inline" method="get" th:if="${session.user.role.name == 'Admin' || session.user.role.name == 'Superadmin'}">
            <input type="submit" value="Админпанель">
        </form>
        <form action="user_settings" class="inline" method="get">
            <input type="submit" value="Настроить">
        </form>
        <form action="log_out" class="inline" method="post">
            <input type="submit" value="Выйти">
        </form>
    </div>
    <p style="color: red;" th:text="${session.mes}"></p>
    <!--/*<script th:inline="javascript">
       // <![CDATA[
    // Get the message from Thymeleaf variable
    var alertMessage = [[${session.mes}]];

    // Display the message in a JavaScript alert
    window.onload = function() {
        alert(alertMessage);
    };
    //]]>
    </script>*/-->
</div>


</body>
</html>