<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div style="float: right; margin-right: 25px; width: min-content;" th:fragment="user_block">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <div style="width: max-content;">
            <input type="radio" id="connection" class="inline check-with-label">
            <label for="connection" class="inline sphere2 green label-for-check" id="connectionLabel"></label>
      <p class="inline" th:text="${session.user.role.name}"></p>
      <h4 class="inline" th:text="${session.user.login}"></h4>
        <form th:if="${session.user.role.name == 'Admin'}" method="get" action="users" class="inline">
            <input type="submit" value="Пользователи">
        </form>
        <form method="get" action="user_settings" class="inline">
            <input type="submit" value="Настроить">
        </form>
      <form method="post" action="log_out" class="inline">
        <input type="submit" value="Выйти">
      </form>
        </div>
        <p style="color: red;"th:text="${session.mes}"></p>
        <!--/*<script th:inline="javascript">
           // <![CDATA[
        // Get the message from Thymeleaf variable
        var alertMessage = [[${session.mes}]];

        // Display the message in a JavaScript alert
        window.onload = function() {
            alert(alertMessage);
        };
        //]]>
        </script>*/-->
    </div>


</body>
</html>