<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<h2 class="inline">Изменение параметров пользователя</h2>
<th:block th:insert="userBlock.html :: user_block"></th:block>
<form action="client" method="get">
    <input type="submit" value="<- Назад">
</form>
<h3>Изменить логин</h3>
<form action="change_login" method="post">
    <label for="login">Новый логин</label>
    <input id="login" minlength="3" name="login" required type="text">
    <input type="submit" value="Применить">
</form>

<h3>Изменить пароль</h3>
<form action="change_password" method="post">
    <label for="old_password">Старый пароль</label>
    <input id="old_password" minlength="4" name="old_password" required type="password">
    <label for="new_password">Новый пароль</label>
    <input id="new_password" minlength="4" name="new_password" required type="password">
    <label for="check_password">Подтверждение пароля</label>
    <input id="check_password" minlength="4" name="check_password" required type="password">
    <input type="submit" value="Применить">
</form>
</body>
</html>